// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: red;
	font-family: 'Open Sans';
	border-bottom: solid 2px black;
}


h2, h3, h4 {
	color: blue;
	font-family: 'Open Sans';
}

.centred {
	width: 300px;
	padding: 7px;
	border-bottom: solid 2px black;
}

h5 {
	width: 300px;
}